@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
:root{
    --azul:#0332df;
    --azul-escuro:#0d147a;
    --cinza:#abd5bd;
    --verde:#469d89;
    --verde-esc:#036666;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    color:#fff;
    text-decoration: none; 
    transition: 0.3s;
    position: relative;
}

nav ul li a {
    padding-bottom: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
}
 nav ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    

    content: "";
    height: 2px;
    width: 0%;
    background-color: #f1f1f1;

    transition: 0.4s;
}
nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

.tab-content>section {
    animation: up 1s;
  }
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}
.logo{
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--cinza);
}
.logo-img {
    display: flex;
    height: 16vh;
    width: 16vh;
    padding: 0;
    background-color: white;
    border-radius: 50px;
}
.logo-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto';
    background: var(--azul-escuro);
    height: 20vh;
    width: 100%;
}

main{
    background: white;
}
.bem-vindo {
    text-align: center;
    font-style: oblique;
    padding: 20px;
    box-shadow: 1px 1px 2px #0d147a49;
    transform: translate(0%, 30%);
    margin: auto;
    margin-bottom: 100px;
}
.bem-vindo h1 {
    color: black;
    font-size: 2em;
}
.fundo {
    background: url("img/fund.jpg") no-repeat
    center center;
    background-color: black;
    background-size: cover;
    height: 78vh;
}
.fundo h1 {
    font-weight: 300;
    padding-top: 200px;
    padding-bottom: 50px;
    padding-left: 100px;
    color: #f1f1f1;
}

.fundo a {
    margin: 0 100px 0;
    position: relative;
    display: inline-block;
    padding: 10px  20px;
    color: var(--cinza);
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    background: var(--azul-escuro);
    color: white;
    border-radius: 5px;
    justify-items: center;
    box-shadow: 0 0 5px var(--azul-escuro),
                0 0 25px var(--azul-escuro),
                0 0 50px var(--azul-escuro),
                0 0 100px var(--azul-escuro);
}
.Simulador{
    height: 89vh;
    background: #f1f1f1;
    display: flex;
}
.imagens img{
    height: 100%;
    width: 100%;
}
.imagens{
    height: 100%;
    width: 50%;
}
.simulador {
    margin: auto;
    height: 480px;
    width: 400px;
    padding: 40px;
    background: rgba(5, 5, 26, 0.911);
    box-sizing: border-box;
    box-shadow: 0 15px 25px black;
    border-radius: 10px;
}
.simulador ul {
  padding-bottom: 20px;
  color: white;
}
.simulador h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #f1f1f1;
    text-align: center;
}
.simulador .dados {
    position: relative;
}
.simulador .dados input {
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.simulador .dados label {
    position: absolute;
    top: 0%;
    left: 0;
    padding: 10px 0;
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.simulador .dados input:focus ~ label,
.simulador .dados input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

#res{
    background: #f1f1f1;
    color: var(--verde-esc);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.simular{
    height: 48px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, var(--verde-esc), var(--azul), var(--azul-escuro));
    background-size: 200%;
    margin-bottom: 32px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.simular:hover{
    background-position: right;
}

.nav-lista{
    list-style: none;
    display: flex;
}
.nav-lista li{
    letter-spacing: 3px;
    margin-left: 30px;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--verde);
    margin: 8px;
    transition: 0.3s;
}
@media (max-width: 999px) {
    body {
        overflow-x: hidden; /* Para econder o que está fora da página. */
    }
    .imagens {
        display: none;
    }
    .fundo p {
        padding-top: 35vh;
        padding-left: 10vh;
    }

    .fundo a {
        margin-left: 10vh;
    }
    .nav-lista {
        position: absolute;
        top: 20vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--azul-escuro);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-lista li {
       margin-left: 0;
       opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .logo-img {
        width: 15vh;
        height: 15vh;
}

.nav-lista.active {
    transform: translateX(0);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform:translateX(50px);
    }
    to {
        opacity: 1;
        transform:translateX(0);
    }
}
    .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
    opacity: 0;
    }
    .mobile-menu.active .line3 {
     transform: rotate(45deg) translate(-5px, -7px);
    }
}

.serviços{
    height: auto;
}
.pessoa-fisica{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    padding: 50px;
    justify-items: center;
}
.parceiro{
    background:linear-gradient(120deg, white, #f1f1f1);
    padding-top: 10px;
}
.pessoa-juridica{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    background:linear-gradient(120deg, white, #f1f1f1);
}

.container-serv{
    height: 220px;
    width: 250px;
    background: var(--azul-escuro);
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px black;
}

.container-serv h3{
    padding: 5px 0;
    text-align: center;
}
.container-serv p {
    text-align: left ;
}
.serviços h1 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 2em;
    color: #0d147a;
    font-family: 'Roboto';
}
.contato {
    position: relative;
    background:linear-gradient(120deg, var(--azul-escuro), var(--verde-esc));
    padding: 4%;
}

.container h1{
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(400px, 1fr));
}
.entre-contato {
    height: 450px;
    width: 600px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.699);
    text-align: center;
    padding-top: 25%;
}
.entre-contato ul {
    list-style: none;
}
.formulario {
    margin: auto;
    margin-top: 50px;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.575);
    box-sizing: border-box;
    box-shadow: 0 15px 25px black;
    border-radius: 10px;
}
.formulario h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #f1f1f1;
    text-align: center;
}
.formulario .user-box {
    position: relative;
}
.formulario .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.formulario .user-box label {
    position: absolute;
    top: 0%;
    left: 0;
    padding: 10px 0;
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.formulario .user-box input:valid ~ label,
.formulario .user-box input:valid ~ label,
.formulario .user-box input:focus ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.enviar-form{
    height: 45px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, var(--verde-esc), var(--azul), var(--azul-escuro));
    background-size: 200%;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.enviar-form:hover{
    background-position: right;
}

.sobre{
    height: 90vh;
    width: 100%;
}
.sobre .container-sobre{
    margin: auto;
    margin-top:  10%;
    width: 900px;
    padding: 40px;
    background: var(--azul-escuro);
    color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.589);
}
.sobre .container-sobre p{
    text-align: justify;
    color: var(--cinza);
    padding-bottom: 20px;
}
.sobre .container-sobre h1{
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}
#entre-contato{
    height: 45px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, var(--verde-esc), var(--azul));
    background-size: 200%;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
#entre-contato:hover{
    background-position: right;
}

footer {
    background:linear-gradient(120deg, var(--azul-escuro), var(--verde-esc)) ;
    min-height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(400px, 1fr));
}
footer .logo{
    display: flex;
    height: 17vh;
    width: 17vh;
    padding: 0;
    background-color: white;
    border-radius: 50%;
    margin: 20px;
}
footer .logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.nav-footer{
    width: 300px;
    min-height: 150px;
    padding: 20px;
    margin-top: 30px;
    font-family: 'Roboto';
    letter-spacing: 4px;
    line-height: 1.5em;
}

.ende{
    width: 330px;
    min-height: 150px;
    padding: 30px;
    color: #f1f1f1;
    font-family: 'Roboto';
    margin-top: 50px;
}

.ende img {
    padding-top: 15px;
}

.social{
    width: 320px;
    min-height: 150px;
    padding: 30px;
    margin-top: 50px;
    justify-items: center;
}

.social img {
    width: 32px;
    border-radius: 50%;
    background-color: #ffffffd5;
}

.social p {
    color:#f1f1f1;
    padding-top: 50px;
    line-height: 2em;
    color: #fff;
}

    
