@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
:root{
    --azul:#0332df;
    --azul-escuro:#0d147a;
    --cinza:#abd5bd;
    --verde:#469d89;
    --verde-esc:#036666;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color:#fff;
    text-decoration: none; 
    transition: 0.3s;
    position: relative;
}

nav ul li a {
    padding-bottom: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
}
 nav ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    

    content: "";
    height: 2px;
    width: 0%;
    background-color: #f1f1f1;

    transition: 0.4s;
}
nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

.tab-content>section {
    animation: up 1s;
  }
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}
.logo{
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--cinza);
}
.logo-img {
    display: flex;
    height: 16vh;
    width: 16vh;
    padding: 0;
    background-color: white;
    border-radius: 50px;
}
.logo-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto';
    background: var(--azul-escuro);
    height: 20vh;
}

main{
    background: white;
}
.bem-vindo {
    text-align: center;
    font-style: oblique;
    padding: 20px;
    box-shadow: 1px 1px 2px #0d147a49;
    transform: translate(0%, 30%);
    margin: auto;
    margin-bottom: 100px;
}
.serviços .bem-vindo h1 {
    color: black;
    font-size: 2em;
}
.fundo {
    background: url("img/fund.jpg") no-repeat
    center center;
    background-color: black;
    background-size: cover;
    height: 82vh;
    display: flex;
}

.texto{
    text-align: center;
    color: var(--cinza);
    padding: 20px;
    margin: auto;
}
.text h1 {
    text-align: center;
    font-weight: 700;
}

.fundo a {
    scroll-behavior: smooth;
    min-width: 200px;
    padding: 10px  20px;
    color: var(--cinza);
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 4px;
    background: var(--azul-escuro);
    color: white;
    border-radius: 5px;
    justify-items: center;
    box-shadow: 0 0 5px var(--azul-escuro),
                0 0 25px var(--azul-escuro),
                0 0 50px var(--azul-escuro),
                0 0 100px var(--azul-escuro);
}
.Simulador{
    height: 92vh;
    background: #f1f1f1;
    display: flex;
    border-bottom: #036666 0.5px;
}
.imagens img{
    height: 100%;
    width: 100%;
}
.imagens{
    height: 100%;
    width: 50%;
}
.simulador {
    margin: auto;
    height: 480px;
    max-width: 90%;
    width: 400px;
    padding: 40px;
    background: rgba(5, 5, 26, 0.911);
    box-sizing: border-box;
    box-shadow: 0 15px 25px black;
    border-radius: 10px;

}
.simulador ul {
  padding-bottom: 20px;
  color: white;
}
.simulador h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #f1f1f1;
    text-align: center;
}
.simulador .dados {
    position: relative;
}
.simulador .dados input {
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.simulador .dados label {
    position: absolute;
    top: 0%;
    left: 0;
    padding: 10px 0;
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.simulador .dados input:focus ~ label,
.simulador .dados input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

#res{
    background: #f1f1f1;
    color: var(--verde-esc);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.simular{
    height: 48px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, var(--verde-esc), var(--azul), var(--azul-escuro));
    background-size: 200%;
    margin-bottom: 32px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.simular:hover{
    background-position: right;
}

.nav-lista{
    list-style: none;
    display: flex;
}
.nav-lista li{
    letter-spacing: 3px;
    margin-left: 30px;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--verde);
    margin: 8px;
    transition: 0.3s;
}

.nav-lista.active {
    transform: translateX(0);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform:translateX(50px);
    }
    to {
        opacity: 1;
        transform:translateX(0);
    }
}
    .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
    opacity: 0;
    }
    .mobile-menu.active .line3 {
     transform: rotate(45deg) translate(-5px, -7px);
    }

.serviços{
    height: auto;
}
.serviços .serviços-budeli h1{
    color:var(--azul-escuro) ;
}
.serviços .parceiro h1{
    color: var(--azul-escuro);
}
.pessoa-fisica{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    justify-items: center;
}
.parceiro{
    background:linear-gradient(120deg, white, #f1f1f1);
    padding-top: 10px;
}
.pessoa-juridica{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    background:linear-gradient(120deg, white, #f1f1f1);
}

.container-serv{
    height: 220px;
    width: 250px;
    background: var(--azul-escuro);
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px black;
    transition: transform 0.5s;
    transform: translateX(0.5) scale(1);
    cursor: pointer;
}
.container-serv:hover{
    background: var(--verde-esc);
    transform: translateX(5px) scale(1.1);
}

.container-serv h3{
    padding: 5px 0;
    text-align: center;
}
.container-serv p {
    text-align: left ;
}
.serviços h1 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 2em;
    color: #f1f1f1;
    font-family: 'Roboto';
}

.contato {
    width: 100%;
}
.formu-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
}

.contato h1{
    text-align: center;
    padding-bottom: 20px;
}
.entre-contato{
    padding-top: 20px;
    margin: auto;
    height: 200px;
    max-width: 90%;
    width: 90%;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1.5px;
}
.entre-contato ul {
    list-style: none;
}
.formulario{
    margin: auto;
    height: 480px;
    max-width: 95%;
    width: 95%;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}
.formulario .user-box{
    position: relative;
}
.formulario .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #0d147a;
    outline: none;
    background: transparent;
}
.formulario .user-box label{
    position: absolute;
    top: 0%;
    left: 0;
    padding: 10px 0;
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition: .5s;
}
.formulario .user-box input:focus ~ label,
.formulario .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: var(--azul-escuro);
    font-size: 12px;
}
.enviar-form{
    height: 48px;
    width: 40%;
    outline: none;
    background: linear-gradient(120deg, var(--verde-esc), var(--azul), var(--azul-escuro));
    background-size: 200%;
    margin-bottom: 32px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.enviar-form:hover{
    background-position: right;
}
.back{
    background: url(https://uds.com.br/blog/wp-content/uploads/2021/07/pexels-pixabay-316093.jpg)
    no-repeat center center;
    background-size: cover;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.back h1{
    color: #f1f1f1;
}
.sobre{
    height: auto;
}
.sobre .container-sobre{
    margin: auto;
    margin-top:  5%;
    margin-bottom: 10%;
    width: 70%;
    padding: 40px;
    background: var(--azul-escuro);
    color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.589);
}
.sobre .container-sobre p{
    text-align: justify;
    color: var(--cinza);
    padding-bottom: 20px;
}
.sobre .container-sobre h1{
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}
#entre-contato{
    height: 45px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, var(--verde-esc), var(--azul));
    background-size: 200%;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
#entre-contato:hover{
    background-position: right;
}

footer {
    background:linear-gradient(120deg, var(--azul-escuro), var(--verde-esc));
    padding-top: 10vh;
    max-width: 100%;
    justify-items: center;
}

.social{
    padding: 10px;
    min-height: 150px;
    justify-items: center;
    text-align: center;
}

.social img {
    width: 32px;
    border-radius: 50%;
}

.social p {
    line-height: 2em;
    color: #fff;
}
.copy{
    font-size: smaller;
    font-style: italic;
}
.fundosobre{
    background: url(/img/fundo.png)
    no-repeat center center;
    background-size: cover;
    color: white;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:735px){
    .formu-cont{
        display: flex;
        flex-direction: column;
    }
    .entre-contato{
        padding-top: 50px;
    }
}
@media (max-width: 999px) {
    body {
        overflow-x: hidden; /* Para econder o que está fora da página. */
    }
    header a {
        text-align: center;
        padding: 0;
    }
    .nav-lista {
        position: absolute;
        top: 20vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--azul-escuro);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-lista li {
       margin-left: 0;
       opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .logo-img {
        width: 12vh;
        height: 12vh;
        border-radius: 50%;
        margin: 3px;
    }
    .text {
        text-align: center;
        padding: 10%;
    }
    .sobre .container-sobre{
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }
    .Simulador .imagens{
        display: none;
    }
    
}
@media (max-width:310px){
    body{
        overflow-x: hidden;
    }
    nav .logo {
        font-size: 0.9em;
    }
    footer{
        max-width: 100%;
    }
}
.pre-load{
    background:#f1f1f1;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.circle{
    position: absolute;
    width:115px;
    height:115px;
    border-radius:50%;
    border:10px solid #0d147a;
    animation:circle 3.5s ease-in-out infinite;
  }  
  @keyframes circle{
    0%{
      border-color:#0332df;
      transform:sacle(1);
    }
    25%{
      border-color:#469d89;
      transform:scale(0.5);
    }
    50%{
      border-color:#036666;
      transform:scale(1.0);
    }
    75%{
      border-color: #0332df;
      transform: scale(0.8);
    }
    100%{
      border-color: #0d147a;
      transform:scale(1);
    }
  }
